fastapi==0.115.2
google_auth_oauthlib==1.2.1

jinja2
motor==3.6.0
moviepy==1.0.3
passlib==1.7.4
Pillow==9.5.0
protobuf==5.28.2
python-dotenv==1.0.1
python_jose==3.3.0
Requests==2.32.3
uvicorn==0.30.6
yt_dlp==2024.10.7
python-multipart
