<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ css }}" />

    <!-- header font -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- header font -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container_whole_navbar">
        <div class="container_header_left">
          <a href="{{ url_for('home_page')}}">
            <h2 class="header_title">VideotoGIF</h2>
          </a>
        </div>
        <div class="container_header_middle">
          <p class="header_middle_link">
            <a href="{{ url_for('upload_video_page') }}">Video</a>
          </p>
          <p class="header_middle_link">
            <a href="{{ url_for('youtube_video_page') }}">Youtube</a>
          </p>
          <p class="header_middle_link">
            <a href="{{ url_for('youtube_channel_page') }}">Channel</a>
          </p>
          <p class="header_middle_link">
            <a href="{{ url_for('google_photos_page') }}">Photos</a>
          </p>
          <p class="header_middle_link">
            <a href="{{ url_for('subscriptions_page') }}">Pricing</a>
          </p>
        </div>
        {% if user and user.name and user.picture %}
        <div class="container_header_right">
          <p>{{ user.name }}</p>
          <div class="container_profile_image">
            <img
              src="{{ user.picture }}"
              alt="Profile Image"
              style="
                height: 35px;
                width: 35px;
                border-radius: 100px;
                background-color: red;
              "
            />
          </div>
        </div>
        {% else %}
        <div class="container_header_right">
          <p class="header_right_link">
            <a href="{{ url_for('login_page') }}">Login</a>
          </p>
          <p class="header_right_link">
            <a href="{{ url_for('signup_page') }}">Sign Up</a>
          </p>
        </div>
        {% endif %}
      </div>
    </header>
    <div
      class="container_whole_login_page"
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        margin: 100px 0;
        padding-bottom: 200px;
      "
    >
      <div
        class="container_title_for_main_title"
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 100px;
          user-select: none;
        "
      >
        <h1
          style="
            padding: 30px;
            font-size: 50px;
            font-family: 'Merriweather', serif;
            font-weight: 900;
            font-style: normal;
            color: #414141;
            padding: 0;
          "
        >
          Signin to
        </h1>
        <h1
          style="
            color: white;
            padding: 0 0 0 20px;
            font-size: 50px;
            font-family: 'Merriweather', serif;
            font-weight: 900;
            font-style: normal;
            background: linear-gradient(to right, #ff686b, #9381ff);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          "
        >
          VideotoGIF
        </h1>
      </div>
      <div class="container_whole_login_page_except_title">
        <form action="googleauth">
          <div class="container_google_login_design" style="margin: 10px">
            <button
              style="
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 10px;
                width: 460px;
                height: 60px;
                border-radius: 10px;
                background-color: #dadbdc;
                outline: 2px solid #2b2d42;
                border: none;
              "
            >
              <img
                src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png"
                alt="Google logo"
                style="height: 50px; aspect-ratio: 1"
              />
              <p style="font-size: 20px; color: #414141">Signin with Google</p>
            </button>
          </div>
        </form>
        <h3
          style="
            padding: 0;
            margin: 0;
            font-family: 'Merriweather', serif;
            font-weight: 900;
            font-style: normal;
          "
        >
          OR
        </h3>
        <form action="/signup" method="post">
          <div
            class="container_login_credentials_complete"
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
            "
          >
            {% if error %}
            <span
              style="
                height: 40px;
                width: 400px;
                padding: 10px 30px;
                border-radius: 10px;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #d62828;
                border: 2px solid #161616;
                color: #fdf0d5;
                font-size: 20px;
              "
              >{{ error}}</span
            >
            {% endif %}
            <input
              type="text"
              name="name"
              required
              value="{{ name}}"
              placeholder="Full name"
              style="
                height: 40px;
                width: 400px;
                border-radius: 10px;
                outline: none;
                border: none;
                background-color: #dadbdc;
                border: 2px solid #161616;
                color: #414141;
                font-size: 20px;
                padding: 10px 30px;
              "
            />

            <input
              type="email"
              name="email"
              required
              value="{{ email }}"
              placeholder="Email"
              style="
                height: 40px;
                width: 400px;
                border-radius: 10px;
                outline: none;
                border: none;
                background-color: #dadbdc;
                border: 2px solid #161616;
                color: #414141;
                font-size: 20px;
                padding: 10px 30px;
              "
            />
            <input
              type="password"
              name="password"
              required
              value="{{password}}"
              placeholder="Password"
              style="
                height: 40px;
                width: 400px;
                border-radius: 10px;
                outline: none;
                border: none;
                background-color: #dadbdc;
                border: 2px solid #161616;
                color: #414141;
                font-size: 20px;
                padding: 10px 30px;
              "
            />
            <input
              type="password"
              required
              name="confirm_password"
              value="{{password}}"
              placeholder="Confirm password"
              style="
                height: 40px;
                width: 400px;
                border-radius: 10px;
                outline: none;
                border: none;
                background-color: #dadbdc;
                border: 2px solid #161616;
                color: #414141;
                font-size: 20px;
                padding: 10px 30px;
              "
            />
            <button
              type="submit"
              style="
                height: 60px;
                width: 460px;
                border-radius: 10px;
                border: 2px solid #414141;
                outline: none;
                background-color: #007aff;
                color: white;
                font-size: 20px;
                padding: 10px 30px;
                transition: 0.2s;
              "
            >
              Signin
            </button>
          </div>
        </form>
      </div>

      <p>
        Already have an account?
        <a href="{{ url_for('login_page') }}" style="color: #ae185e">Login</a>
      </p>
    </div>
  </body>
</html>
