<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ css }}" />
    <!-- google fonts upload -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <!-- header font -->
     
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
     <!-- header font -->
  </head>
  <body>
    <header>
      <div class="container_whole_navbar">
        <div class="container_header_left">
          <a href="{{ url_for('home_page')}}">
            <h2 class="header_title">VideotoGIF</h2>
          </a>
        </div>
        <div class="container_header_middle">
          <p class="header_middle_link">
            <a href="{{ url_for('upload_video_page') }}">Video</a>
          </p>
          <p class="header_middle_link">
            <a href="{{ url_for('youtube_video_page') }}">Youtube</a>
          </p>
          <p class="header_middle_link">
            <a href="{{ url_for('youtube_channel_page') }}">Channel</a>
          </p>
          <p class="header_middle_link"><a href="{{ url_for('google_photos_page') }}">Photos</a></p>
          <p class="header_middle_link">
            <a href="{{ url_for('subscriptions_page') }}">Pricing</a>
          </p>
        </div>
        {% if user and user.name and user.picture %}
        <div class="container_header_right">
          <p>{{ user.name }}</p>
          <div class="container_profile_image">
            <img
              src="{{ user.picture }}"
              alt="Profile Image"
              style="
                height: 35px;
                width: 35px;
                border-radius: 100px;
                background-color: red;
              "
            />
          </div>
        </div>
        {% else %}
        <div class="container_header_right">
          <p class="header_right_link">
            <a href="{{ url_for('login_page') }}">Login</a>
          </p>
          <p class="header_right_link">
            <a href="{{ url_for('signup_page') }}">Sign Up</a>
          </p>
        </div>
        {% endif %}

        
      </div>
    </header>
    <div class="container_whole_upload_video">
      <form action="/video_upload" method="post" enctype="multipart/form-data">
        <div class="container_whole_left_side">
          <div class="container_whole_left_side_inner">
            <h2 class="left_side_title">Upload Video</h2>
            <div class="container_all_except_title">
              <div class="file_upload_container">
                <h3 class="file_upload_title">Upload files</h3>
                  <div
                    class="container_file_upload_drop_area"
                    id="file_upload_drop_area"
                  >
                    <input
                      type="file"
                      name="upload_video"
                      id="upload_video"
                      class="display_none"
                      required
                      multiple
                      accept="video/*"
                    />
                    <label
                    for="upload_video"
                    class="upload_video_label"
                    id="file_upload_drop_area_label"
                    ><span
                      class="material-symbols-outlined"
                      style="font-size: 40px"
                    >
                      add_circle
                    </span>
                    <p style="opacity: 0.6">
                      Drag & Drop or Click to choose file
                    </p>
                    <p class="third_item_drop_area">
                      <span class="material-symbols-outlined"> info </span>Max
                      file size : 1Gb
                    </p></label>
                    </div>
                    <div class="container_selected_file">
                      <p
                        class="container_selected_file_name"
                        id="selected_file_name"
                      >
                        Selected File Name
                      </p>

                      <button class="container_selected_file_button">
                        <span class="material-symbols-outlined"> upload </span>
                        Upload
                      </button>
                    </div>
                    <button
                      type="reset"
                      onclick="removeFileOnClick()"
                      class="button_clear_selection"
                    >
                      Remove Selected File
                    </button>
                  </div>
                  <div class="container_left_right_side">
                    <div id="video-thumbnails" class="container_thumbnail_or_generated_gif">
                      <img
                        src="../../static/results/{{ gif_location }}"
                        alt="Upload video to create gif"
                        style="
                          width: 100%;
                          aspect-ratio: 3/2;
                          border-radius: inherit;
                          z-index: 20;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                        "
                      />
                      <!-- Thumbnails will be added here -->
                    </div>
                  
                    <div class="container_usual_stuff">
                      <p class="container_usual_stuff_p">
                        Convert your favorite videos into high-quality GIFs with ease. Simply Upload
                        the Video, select the desired settings, and let our tool generate a custom
                        GIF for you to share instantly!
                      </p>
                    </div>
                  
                    {% if gif_location %}
                    <button class="container_generated_gif_full_options" onclick="hide_or_show_options()" style="
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      height: 50px;
                      width: 90%;
                      background-color: #dadbdc;
                      border-radius: 15px;
                      cursor: pointer;
                      border: none;
                      outline: none;
                      color: #414141;
                      font-weight: 500;
                      font-size: 16px;
                      user-select: none;
                      transition: 0.2s;">
                      <p>Options</p>
                      <span class="material-symbols-outlined" id="options_bottom_arrow">
                        keyboard_arrow_down
                      </span>
                    </button>

                    <div class="container_for_generated_gif_options" id="container_for_generated_gif_options" 
                    style="display: none;">

                      <button class="container_option container_option_download" onclick="download_generated_gif_whole_page()">

                        <span class="material-symbols-outlined">download</span>
                        <p>Download GIF</p>

                      </button>
                  
                      <button class="container_option container_option_upload_giffy" onclick="upload_generated_gif_giffy()">
                        
                        <span class="material-symbols-outlined">
                        upload
                        </span><p>Upload to Giffy</p>
                      
                      </button>

                      <button class="container_option container_option_upload_tenor" onclick="upload_generated_gif_tenor()">
                        
                        <span class="material-symbols-outlined">
                        upload
                        </span><p>Upload to Tenor</p>
                      
                      </button>

                      <button class="container_option container_option_share" onclick="share_generated_gif()">
                        
                        <span class="material-symbols-outlined">
                        send
                        </span><p>Share GIF</p>
                      
                      </button>
                    </div>
                    {% endif %}
                  
                    <div class="container_main_button_generate_gif">
                      <button
                        type="submit"
                        onclick="loading_Button()"
                        class="container_left_right_side_button"
                      >
                        Generate Gif
                      </button>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container_whole_right_side">
          <div class="container_whole_right_side_inner">
            <h3 class="container_whole_right_side_main_title">Controls</h3>

            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
              "
            >
              <p class="control_panel_paragraph">Captions</p>
              <label class="upload_to_tenor">
                <input
                  type="checkbox"
                  name="captions_bool"
                  id="captions_bool"
                />
                <span class="slider"></span>
              </label>
            </div>

            <div class="container_whole_right_side_components be_hidden">
              <p class="control_panel_paragraph">
                <span
                  class="material-symbols-outlined"
                  style="font-size: 14px; color: #555555"
                >
                  subtitles </span
                >Captions
              </p>

              
              <textarea
                placeholder="Input your caption"
                class="container_whole_right_side_inner_subtitles"
                name="captions"
                
                style="
                  height: 150px;
                  width: 100%;
                  border-radius: 10px;
                  border: 2px solid #3846b1;
                  background-color: #abadbc;
                  color: #414141;
                  outline: none;
                  padding: 10px;
                  resize: none;
                  font-family: 'Inter', sans-serif;
                  font-size: 14px;
                "
              ></textarea>
            </div>

            <div class="container_whole_right_side_components be_hidden">
              <p class="control_panel_paragraph">
                <span
                  class="material-symbols-outlined"
                  style="font-size: 18px; color: #555555"
                >
                  format_size </span
                >Font Size
              </p>
              <input
                class="control_panel_seekbar"
                type="range"
                min="1"
                max="20"
                value="20"
                name="font_size"
              />
            </div>
            <div class="container_whole_right_side_components be_hidden">
              <p class="control_panel_paragraph">
                <span
                  class="material-symbols-outlined"
                  style="font-size: 18px; color: #555555"
                >
                  format_bold </span
                >Boldness
              </p>
              <input
                class="control_panel_seekbar"
                type="range"
                name="boldness"
                min="1"
                max="10"
                value="4"
              />
            </div>
            
            <div class="container_control_panel_color_selectors be_hidden">
              <div class="container_control_panel_color_selector_whole">
                <label for="colorInput">Font Color 1</label>
                <input
                  type="color"
                  class="control_panel_color_selector"
                  id="colorInput"
                  name="font_color_one"
                  value="#fafaff"
                />
              </div>

              <div class="container_control_panel_color_selector_whole">
                <label for="colorInput">Font Color 2</label>
                <input
                  type="color"
                  class="control_panel_color_selector"
                  id="colorInput"
                  name="font_color_two"
                  value="#9b5de5"
                />
              </div>

              <div class="container_control_panel_color_selector_whole">
                <label for="colorInput">Outline Color</label>
                <input
                  type="color"
                  class="control_panel_color_selector"
                  id="colorInput"
                  name="outline_color"
                  value="#000000"
                />
              </div>

              <div class="container_control_panel_color_selector_whole">
                <label for="colorInput">Shadow Color</label>
                <input
                  type="color"
                  class="control_panel_color_selector"
                  id="colorInput"
                  name="shadow_color"
                  value="#000000"
                />
              </div>
            </div>

            <div class="container_whole_right_side_components be_hidden">
              <p class="control_panel_paragraph">
                <span
                  class="material-symbols-outlined"
                  style="font-size: 18px; color: #555555"
                >
                  shadow </span
                >Shadow Offset
              </p>
              
              <input
                class="control_panel_seekbar"
                type="range"
                min="0"
                max="10"
                name="shadow_offset"
                value="4"
              />
            </div>

            <div class="container_whole_right_side_components be_hidden">
              <p class="control_panel_paragraph">
                <span
                  class="material-symbols-outlined"
                  style="font-size: 18px; color: #555555"
                >
                  format_line_spacing </span
                >Line Spacing
              </p>
              <input
                class="control_panel_seekbar"
                type="range"
                min="1"
                max="10"
                name="line_spacing"
                value="6"
              />
            </div>

            <div class="container_whole_right_side_components be_hidden" style="margin-bottom: 50px;">
              <label for="caption_fonts" class="control_panel_paragraph"
                ><span
                  class="material-symbols-outlined"
                  style="font-size: 18px; color: #555555"
                >
                  brand_family </span
                >Select Font</label
              >
              <div class="custom-select">
                <select
                  name="font"
                  class="control_panel_selector"
                  id="caption_fonts"
                >
                  <option value="Oswald.ttf">Oswald</option>
                  <option value="Chase Dreams">Chase Dreams</option>
                  <option value="Arial">Arial</option>
                  <option value="Nelhinco">Nelhinco</option>
                  <option value="RacingPunch">RacingPunch</option>
                  <option value="Scripto">Scripto</option>
                  <option value="Cartoon Blocks">Cartoon Blocks</option>
                  <option value="BloodAttack">BloodAttack</option>
                  <option value="Ghost Blaze">Ghost Blaze</option>
                  <option value="28 Days Later">28 Days Later</option>
                </select>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
    <div class="container_whole_blurred_background_for_options" id="container_whole_blurred_background_for_options">
      <button class="container_whole_blurred_background_for_options_close" onclick="close_whole_container_for_options()"><span class="material-symbols-outlined">
        close
        </span></button>
    </div>

    <div class="container_download_gif_whole" id="container_download_gif_whole">

      <div class="container_download_gif_image">
        <img src="../../static/results/{{ gif_location }}" alt="">
      </div>
      <div class="container_download_gif_rest_content">
        <p>{{ video_upload_message }}</p>
        <button onclick="download_generated_gif()">Download GIF</button>
      </div>

    </div>


    <div class="container_upload_gif_giphy_whole" id="container_upload_gif_giphy_whole">

      
      <div class="container_upload_gif_giphy">
        <img src="../../static/results/{{ gif_location }}" alt="">
      </div>
      <div class="container_upload_gif_giphy_rest_content">
        <p>{{ video_upload_message }}</p>
        <form action="/upload_to_giphy" method="post">

          <input type="text" name="gif_location" value="{{ gif_location}}" style="display: none;">
          <button type="submit" class="container_uplaod_giphy_button">Upload to giphy.com</button>

        </form>
        </div>

    </div>


    <div class="container_upload_gif_tenor_whole" id="container_upload_gif_tenor_whole">

      
      <div class="container_upload_gif_giphy">
        <img src="../../static/results/{{ gif_location }}" alt="">
      </div>
      <div class="container_upload_gif_giphy_rest_content">
        <p>{{ video_upload_message }}</p>
        <form action="/upload_to_tenor" method="post">

          <input type="text" name="gif_location" value="{{ gif_location}}" style="display: none;">
          <button type="submit" class="container_uplaod_giphy_button">Upload to tenor.com</button>

        </form>
        </div>
      
    </div>


    <div class="container_share_gif_whole" id="container_share_gif_whole">

      
      <div class="container_share_gif_image">
        <img src="../../static/results/{{ gif_location }}" alt="">
      </div>
      <div class="container_share_gif_rest_content">
        <p>{{ video_upload_message }}</p>
        <button onclick="share_generated_gif()">Share GIF</button>
      </div>

    </div>
  </body>




  
  <script>
    const uploadContainer = document.getElementById("file_upload_drop_area");
    const fileInput = document.getElementById("upload_video");
    const selectedFileName = document.getElementById("selected_file_name");
    const thumbnailsContainer = document.getElementById("video-thumbnails");

    // Show file input on click
    uploadContainer.addEventListener("click", () => {
      fileInput.click();
    });

    // Handle drag-over event
    uploadContainer.addEventListener("dragover", (e) => {
      e.preventDefault(); // Prevent default behavior (to allow drop)
      uploadContainer.classList.add("dragging"); // Add class when dragging
    });

    // Handle drag leave event
    uploadContainer.addEventListener("dragleave", () => {
      uploadContainer.classList.remove("dragging");
    });

    // Handle drop event
    uploadContainer.addEventListener("drop", (e) => {
      e.preventDefault();
      uploadContainer.classList.remove("dragging");

      const files = e.dataTransfer.files;
      handleFiles(files); // Handle the dropped files
    });

    // Handle file selection from input
    fileInput.addEventListener("change", (e) => {
      const files = e.target.files;
      handleFiles(files); // Handle files selected from input
    });

    // Function to process files
    function handleFiles(files) {
      thumbnailsContainer.innerHTML = ""; // Clear previous thumbnails

      for (const file of files) {
        if (!file.type.startsWith("video/")) {
          alert("Only video files are allowed!");
          continue;
        }

        selectedFileName.textContent = file.name; // Display file name

        const video = document.createElement("video");
        video.src = URL.createObjectURL(file);
        video.width = 450; // Set the width for the thumbnail
        video.controls = false; // Disable controls for the thumbnail

        video.addEventListener("loadeddata", () => {
          // Once the video is loaded, capture a frame as the thumbnail
          const canvas = document.createElement("canvas");
          canvas.width = video.videoWidth;
          canvas.height = video.videoHeight;

          const ctx = canvas.getContext("2d");
          ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

          const img = document.createElement("img");
          img.src = canvas.toDataURL("image/png");
          img.width = 450; // Set the width of the thumbnail
          img.style.overflow = "none";
          img.height = 300;
          img.style.borderRadius = "15px";

          // Append thumbnail to the thumbnails container
          thumbnailsContainer.appendChild(img);
        });
      }
    }
    function removeFileOnClick() {
      // Clear the thumbnails container
      thumbnailsContainer.innerHTML = "Upload video to create gif";

      // Reset the selected file name
      selectedFileName.textContent = "Selected File Name";
    }
    // Function to check the checkbox status and update the opacity for all elements with class 'be_hidden'
    function checkCaptionsStatus() {
      let captions_bool = document.getElementById('captions_bool');
      let hiddenElements = document.getElementsByClassName('be_hidden');

      // Loop through all elements with the class 'be_hidden' and update their opacity
      for (let i = 0; i < hiddenElements.length; i++) {
        if (captions_bool.checked === false) {
          hiddenElements[i].style.opacity = "0.3";
        } else {
          hiddenElements[i].style.opacity = "1";
        }
      }
    }

    // Set an interval to refresh every 500ms (half a second)
    setInterval(checkCaptionsStatus, 500);

    // for uploading to tenor code
    function sendDataToBackend(url, gifLocation) {
  // Create form data
  const formData = new FormData();
  formData.append('gif_location', gifLocation);

  // Send form data with fetch
  fetch(url, {
    method: 'POST',
    body: formData
  })
  .then(response => {
    if (!response.ok) {
      throw new Error(`HTTP error! Status: ${response.status}`);
    }
    return response.json();
  })
  .then(responseData => {
    console.log('Success:', responseData);
  })
  .catch(error => {
    console.error('Error:', error);
  });
}

// Event listener for button click
document.getElementById('submitButton').addEventListener('click', function() {
  // Get the gifLocation value from the input field
  const gifLocation = document.getElementById('value_for_gif_location_upload_tenor').value;
  
  // Call the function to send data
  sendDataToBackend('http://127.0.0.1:8000/upload_to_tenor', gifLocation);
});

    // for uplaoding to tenor code ends here

    // code for generated gif options
  // const optionsButton = document.getElementById('container_generated_gif_full_options');
  // const gifOptions = document.getElementById('container_for_generated_gif_options');

  // optionsButton.addEventListener('click', () => {
  //   if (gifOptions.style.display === 'none' || gifOptions.style.display === '') {
  //     gifOptions.style.display = 'block';  // Show the options
  //   } else {
  //     gifOptions.style.display = 'none';  // Hide the options
  //   }
  // });
  function hide_or_show_options() {
    let gifOptions = document.getElementById('container_for_generated_gif_options');
    
    let bottom_arrow = document.getElementById('options_bottom_arrow')
    // Check if the current display is 'none', and toggle it
    if (gifOptions.style.display === 'none' || gifOptions.style.display === '') {
        gifOptions.style.display = 'flex';
        bottom_arrow.style.rotate = '180deg';
    } else {
        gifOptions.style.display = 'none'; 
        bottom_arrow.style.rotate = '0deg';
    }
}





    function close_whole_container_for_options(){
      document.getElementById('container_whole_blurred_background_for_options').style.display = 'none'
      document.getElementById('container_download_gif_whole').style.display= 'none'
      document.getElementById('container_upload_gif_giphy_whole').style.display = 'none'
      document.getElementById('container_upload_gif_tenor_whole').style.display = 'none'
      document.getElementById('container_share_gif_whole').style.display = 'none'
    }
    // code for generated gif options ends here

    function download_generated_gif_whole_page(){
      let whole_page_container = document.getElementById('container_whole_blurred_background_for_options');
      let displayStyle = window.getComputedStyle(whole_page_container).display;

      // Check if the container is hidden
      if (displayStyle === 'none'){
          whole_page_container.style.display = 'flex'; // Show blurred background
          document.getElementById('container_download_gif_whole').style.display = 'flex'; // Show download options
          // Ensure other containers are hidden
          document.getElementById('container_upload_gif_giphy_whole').style.display = 'none';
          document.getElementById('container_upload_gif_tenor_whole').style.display = 'none';
      }
    }

    function download_generated_gif() {
        const imageUrl = document.querySelector('img[src*="{{ gif_location }}"]').src;
        const downloadLink = document.createElement('a');
        downloadLink.href = imageUrl;
        downloadLink.download = 'downloaded-gif.gif';
        downloadLink.click();
    }

    // code for downloading gif ends here

    function upload_generated_gif_giffy(){
      let whole_page_container = document.getElementById('container_whole_blurred_background_for_options');
      let displayStyle = window.getComputedStyle(whole_page_container).display;

      // Check if the container is hidden
      if (displayStyle === 'none'){
          whole_page_container.style.display = 'flex'; // Show blurred background
          document.getElementById('container_upload_gif_giphy_whole').style.display = 'flex'; // Show download options
          // Ensure other containers are hidden
          document.getElementById('container_download_gif_whole').style.display = 'none';
          document.getElementById('container_upload_gif_tenor_whole').style.display = 'none';
      }
    }


    function upload_generated_gif_tenor(){
      let whole_page_container = document.getElementById('container_whole_blurred_background_for_options');
      let displayStyle = window.getComputedStyle(whole_page_container).display;

      // Check if the container is hidden
      if (displayStyle === 'none'){
          whole_page_container.style.display = 'flex'; // Show blurred background
          document.getElementById('container_upload_gif_giphy_whole').style.display = 'none'; // Show download options
          // Ensure other containers are hidden
          document.getElementById('container_download_gif_whole').style.display = 'none';
          document.getElementById('container_upload_gif_tenor_whole').style.display = 'flex';
      }

    }


    function share_generated_gif(){
      let whole_page_container = document.getElementById('container_whole_blurred_background_for_options');
      let displayStyle = window.getComputedStyle(whole_page_container).display;

      // Check if the container is hidden
      if (displayStyle === 'none'){
          whole_page_container.style.display = 'flex'; // Show blurred background
          document.getElementById('container_upload_gif_giphy_whole').style.display = 'none'; // Show download options
          // Ensure other containers are hidden
          document.getElementById('container_download_gif_whole').style.display = 'none';
          document.getElementById('container_upload_gif_tenor_whole').style.display = 'none';
          document.getElementById('container_share_gif_whole').style.display = 'flex';
      }
    }
  </script>
</html>
